* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*set the background color here to resemble the mock*/
body {
    background-color: #f2ebf5;
}
/*header main CSS is displayed here, including a sticky header!*/
header {
    padding: 20px 35px;
    background-color: rgb(64, 64, 64);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
    font-family: Arial, Helvetica, sans-serif;
}

/*adjusted the background color to match the mock*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    background-color: #8abece;
    color: rgb(64, 64, 64);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    color: rgb(64, 64, 64);
    text-decoration: none;
}

/*nav and its contents float to the right*/
header nav {
    float: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: #8abece;
    font-weight: bold;
    text-decoration: underline;
}

/*used an image of myself here as the hero image*/
.hero {
    background-image: url("../images/portfolio-hero.jpg");
    background-size: cover;
    background-position: center;
    height: 375px;
    width: 100%;
    position: relative;
    align-items: flex-start;
}

.hero-text {
    text-align: right;
    font-size: 30px;
    padding-top: 300px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-text a {
    text-decoration: none;
    background-color: #8abece;
    color: rgb(64, 64, 64);
}

/*inline flex used to display block level elements inline*/
.about-me {
    display: inline-flex;
    margin: 0 auto;
}

.content-header {
    color: rgb(51, 51, 95);
    text-align: left; 
    padding-left: 200px;
    font-size: 70px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 250px;
    padding-top: 50px;
    padding-right: 100px;
    color: rgb(51, 51, 95);
    padding-bottom: 100px;
}

/*inline flex used to display block level elements inline*/
.work {
    display: inline-flex;
    padding-bottom: 100px;
}

/*grid container displayed here*/
.work-grid-container {
    display: grid;
    grid-gap: 20px;
    padding-left: 250px;
    padding-top: 50px;
    
}

.work-grid-item {
    border: solid #8abece;
    color: rgb(64, 64, 64) ;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/*main grid contents displayed here*/
.work-grid-item.main {
    width: 975px;
    height: 550px;
    background-image: url("../images/movie-hunt.jpg");
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

}

/*other grid item height and width determined ehre*/
.work-grid-item.secondary {
    width: 487px;
    height: 250px; 
}

/*alignment and formatting of the one of the secondary grid items*/
.work-grid-item.horiseon {
    background-image: url("../images/horiseon-screenshot.jpg");
    background-size: cover;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

/*alignment and formatting of the one of the secondary grid items*/
.work-grid-item.basketblog {
    background-image: url("../images/basketblog.jpg");
    background-size: cover;
    background-position: center; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.work-grid-container a {
    font-size: 50px; 
    background-color: #8abece;
    text-decoration: none;
}

/*inline flex displayed here to display block level elements inline*/
.info {
    display: inline-flex;
}

.info p {
    font-size: 30px; 
    justify-content: flex-start;
    padding-left: 100px; 
    padding-right: 20px; 
    padding-bottom: 200px; 
    padding-top: 90px; 
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(51, 51, 95);
    display: flex;
    flex-wrap: wrap;
}

.info a {
    color: rgb(51, 51, 95);
}

/*adjusting the media queries with a max width of 980px*/
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }

      header h1 {
        width: 100%;
        text-align: center;
      }

      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }

      header nav ul li a {
        font-size: 20px;
      }

      .hero {
          width: 100%
      }

      .work {
          padding-bottom: 100px;
      }

      .content-header{
          text-align: left;
          font-size: 40px;
          padding-left: 20px; 
      }

      .content p {
          width: 100%;
          flex: 100%; 
          font-size: 20px;
          padding-left: 50px;
          padding-top: 50px;
      }

      .work-grid-container{
        display: grid;
        grid-gap: 10px;
        padding-left: 100px;
        flex: 100%;
        width: 100%
        
    }
    
      .work-grid-container a {
        font-size: 25px;
    }

      .work-grid-item {
          font-size: 200px;
      }

      .work-grid-item.main {
          width: 500px;
          height: 250px;
      }

      .work-grid-item.secondary {
          width: 250px;
          height: 200px;
      }

      .info p {
          text-align: left;
          font-size: 15px; 
          padding-left: 50px;
          padding-bottom: 20px;
          padding-top: 70px;
          margin-right: 2px;
          justify-content: flex-start;
          flex-wrap: wrap;
      }
  }

/*adjusting the media queries with a max width of 768px*/
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
     }

    .hero-text {
        display: flex;
        font-size: 20px;
    }

    .about-me {
        display: block;
     }

    .content-header {
    text-align: center;
    font-size: 100px;
    padding-bottom: 50px;
    } 

    .content-p {
    text-align: center;
    width: 100%;
    }

    .work {
    display: block;
    padding-bottom: 50px;
    }

    .work-grid-container{
    display: grid;
    grid-gap: 5px;
    flex: 100%;
    width: 100%;
    }

    .work-grid-item {
    font-size: 50px;
    }

    .work-grid-item.main {
    width: 500px;
    height: 250px;
    }

    .work-grid-item.secondary {
    width: 250px;
    height: 200px;
    }


    .info {
    display: block;
    text-align: center;
    }

    .info p {
    padding-left: 170px;
    font-size: 25px;
    }
}

/*adjusting the media queries with a max width of 575px*/
@media screen and (max-width: 575px) {

    section {
    padding: 20px 15px;
    }

    .hero {
    width: 100%
    }

    .hero-text {
        display: flex;
        font-size: 12px;
    }

    .content-header {
    font-size: 70px;
    }

    .content-p {
    width: auto;
    text-align: center;
    }

    .work-grid-item {
    font-size: 30px;
    }
    
    .work-grid-item.main {
    width: 200px;
    height: 250px;
    }
    
    .work-grid-item.secondary {
    width: 125px;
    height: 200px;
    }

    .work-grid-container a {
    font-size: 20px;
    }

   .info p {
        text-align: center;
        padding-left: 60px;
        font-size: 20px;
    }
}