* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2ebf5;
}

header {
    padding: 20px 35px;
    background-color: rgb(64, 64, 64);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    background-color: #8abece;
    color: rgb(64, 64, 64);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    color: rgb(64, 64, 64);
    text-decoration: none;
}

header nav {
    float: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: #8abece;
    font-weight: bold;
    text-decoration: underline;
}


.hero {
    background-image: url("../images/portfolio-hero.jpg");
    background-size: cover;
    background-position: center;
    height: 375px;
    width: 100%;
    position: relative;
    /*added the below line*/
    align-items: flex-start;
}

.hero-text {
    text-align: right;
    font-size: 30px;
    padding-top: 300px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-text a {
    text-decoration: none;
    background-color: #8abece;
    color: rgb(64, 64, 64);
}

.about-me {
    display: inline-flex;
    margin: 0 auto;
}


.content-header {
    color: rgb(51, 51, 95);
    text-align: left; 
    padding-left: 200px;
    font-size: 70px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

 .content p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 250px;
    padding-top: 50px;
    padding-right: 100px;
    color: rgb(51, 51, 95);
    padding-bottom: 100px;
}

.work {
    display: inline-flex;
    padding-bottom: 100px;
}

.work-grid-container {
    display: grid;
    grid-gap: 20px;
    padding-left: 270px;
    padding-top: 50px;
    
}

.work-grid-item {
    border: solid #8abece;
    color: rgb(64, 64, 64) ;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.work-grid-item.main {
    width: 975px;
    height: 550px;
    background-image: url("../images/run-buddy-v2.jpg");
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

}

.work-grid-item.secondary {
    width: 487px;
    height: 250px; 
}

.work-grid-item.horiseon {
    background-image: url("../images/horiseon-screenshot.jpg");
    background-size: cover;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.work-grid-item.future {
    background-image: url("../images/future-screenshot.jpg");
    background-size: cover;
    background-position: center; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.work-grid-container a {
    font-size: 50px; 
    background-color: #8abece;
    text-decoration: none;
}

.info {
    display: inline-flex;
}

.info p {
    font-size: 30px; 
    justify-content: flex-start;
    padding-left: 100px; 
    padding-right: 20px; 
    padding-bottom: 200px; 
    padding-top: 90px; 
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(51, 51, 95);
    display: flex;
    flex-wrap: wrap;
}

.info a {
    color: rgb(51, 51, 95);
}

@media screen and (max-width: 980px) {
   
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }

      .hero {
          width: 100%
      }

      .work {
          padding-bottom: 100px;
      }

      .content-header{
          text-align: left;
          font-size: 40px;
          padding-left: 20px; 
      }

      .content p {
          width: 100%;
          flex: 100%; 
          font-size: 20px;
          padding-left: 50px;
          padding-top: 50px;
      }

      .work-grid-container{
        display: grid;
        grid-gap: 10px;
        padding-left: 100px;
        flex: 100%;
        width: 100%
        
    }
    
    .work-grid-container a {
        font-size: 25px;
    }

      .work-grid-item {
          font-size: 200px;
      }

      .work-grid-item.main {
          width: 500px;
          height: 250px;
      }

      .work-grid-item.work-grid-item.secondary {
          width: 250px;
          height: 200px;
      }

      .info p {
          text-align: left;
          font-size: 15px; 
          padding-left: 50px;
          padding-bottom: 20px;
          padding-top: 70px;
          margin-right: 2px;
          justify-content: flex-start;
          flex-wrap: wrap;
      }
  }


@media screen and (max-width: 768px) {

section {
        padding: 30px 15px;
    }

.hero-text {
        display: flex;
        font-size: 20px;
    }
  }

.content-header {
    text-align: right;
    
}

@media screen and (max-width: 575px) {
    .hero-text {
        display: flex;
        font-size: 15px;
    }
  }